{% extends "ExoSiteBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block sitebundle_body %}
<div class="page-header">
    <h2>Hello</h2>
</div>

<div class="col-md-15">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec porttitor euismod ligula nec venenatis. Donec dapibus vehicula mauris, in bibendum elit lobortis in.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis rutrum lectus, ut varius nisi.
        Maecenas condimentum quam non lorem aliquam, quis blandit mi porttitor. Quisque mattis laoreet convallis.
        Nunc accumsan quam non lobortis aliquet. Cras tincidunt lorem eget odio laoreet cursus. Fusce vitae elementum eros.
        Cras sollicitudin nibh sed ultricies molestie. Quisque sed rutrum odio, et sagittis massa.
        <br />
        Vivamus eu euismod magna, eu sollicitudin mi. Donec ultricies iaculis metus eget adipiscing.
        Fusce non ullamcorper tellus, nec rhoncus sem. Proin mollis leo sed turpis vulputate, nec suscipit neque fermentum.
        Nunc lacinia, lorem vitae dapibus imperdiet, erat est pellentesque libero, non laoreet tellus urna non mauris.
        Vestibulum nec est viverra, sollicitudin nunc id, sagittis odio. Proin sagittis fringilla justo eu malesuada.
        Vestibulum volutpat tortor purus, sit amet fringilla lectus laoreet non. Fusce ultricies blandit gravida.
        Curabitur enim tellus, iaculis ac venenatis vel, mollis vel elit. Vivamus facilisis velit et pulvinar mollis.
        Vestibulum ac augue justo. Sed in sapien semper libero mattis tempus.
        Vestibulum eget leo venenatis, tristique felis non, adipiscing tortor.
        Aenean sit amet quam id purus dictum commodo et ac diam.
    </p>
</div>
{% endblock %}